body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('images/pawpattern.jpg');
  background-repeat: repeat;
  background-size: 500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20%
}

.animal-card {
  display: inline-block;
  background-color: rgb(190, 190, 190);
  min-width: 300px;
  height: auto;
  padding: 5px;
  border-color: #484752;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  justify-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 35px;
  margin-top: 35px;
}

button {
  border-color: #484752;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
}
.form-div {
  margin-left: 35px;
}

.top-link {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.nav-link {
  color: white;
  text-align: center;
}
.nav-link:hover {
  background-color: rgb(54, 54, 54);
  text-decoration: none;
}

.animal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.update-div {
  display: flex;
  flex-direction: row;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

.title-donation {
  text-align: center;
}

form {
  background-color: lightblue;
  padding: 25px;
  border-radius: 20px;
  border-style: solid;
}
